.header {
  background-color: red;
  width: 100%;
  height: 60px;
}

.body {
  background-color: green;
  width: 100%;
  min-height: calc(100vh - 360px);
  display: flex;
}

.footer {
  background-color: yellow;
  width: 100%;
  height: 300px;
}

.contactList {
  width: 30%;
  min-height: calc(100vh - 360px);
  background-color: blueviolet;
  max-height: calc(100vh - 360px);
  overflow: auto;
}

.chatContainer {
  width: 70%;
  min-height: calc(100vh - 360px);
  background-color: blue;
}

.contact-item {
  height: 40px;
  border: 1px solid white;
}